@model int


<div class="modal-content rounded-3 bg-black">
    <div class="modal-body">
        <form asp-page-handler="CameraDelete" asp-route-id="@Model" method="post" onsubmit="return jQueryModalPost(this, 'CameraListPartialView');">
            <h5 class="text-white">Вы уверены что хотите удалить запись?</h5>

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            <button type="submit" class="btn btn-danger save-button">Удлалить</button>
        </form>
    </div>
</div>
