html {
    font-size: 14px;
    /*overflow: hidden; */
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    height: 100vh;
    background: linear-gradient(90deg,#0d0d0d,#000000);
}
body, html {
    height: 100%;
}
.s-info-text {
    color: white;
}

::-webkit-scrollbar {
    width: 1vh;
    background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #663091;
    border-radius: 101px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8070d4;
}
.nav-link.active {
    color: white !important;
    text-shadow: 0px 0px 16px rgba(255,255,255,0.8);
}
.nav-link{
    color: grey!important;
}

.pagination {
    float: right;
}
.dataTables_filter {
    float: right !important;
}
.paginate_button a {
    background-color: rgb(0,0,0,0.3);
    color: white;
    border-width: 0px;
}

.page-item.disabled .page-link {
    background-color: #020202 !important;
    color: rgba(158,74,226,1) !important;
}
.page-item.active .page-link {
    background-image: linear-gradient(90deg, rgba(58,0,205,1) 0%, rgba(158,74,226,1) 100%) !important;
}

.dataTables_filter input[type="search"]:focus {
    background-color: black;
    position: static;
}
.dataTables_length select:focus {
    background-color: black;
}
.dataTables_length select {
    background-color: black;
    color: white !important;
}

.dataTables_filter input {
    background-color: black;
    color: white !important;
}

.dataTables_filter label {
    color: white !important;
}

.dataTables_length label {
    color: white !important;
}

.dataTables_wrapper select {
    color: red;
}
.td {
    
    text-align: center;
}

.table td {
    text-align: center;
}
.card {
    backdrop-filter: blur(0.6rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0,0,0,0.5);
    background-color: rgba(255,255,255,0.05) !important;
}
.modal-content {
    backdrop-filter: blur(0.6rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0,0,0,0.6);
    background-color: rgba(255,255,255,0.05) !important;
}

.btn-primary {
    /*background: linear-gradient(90deg, rgba(205,0,8,1) 0%, rgba(226,142,74,1) 100%);*/
    background: linear-gradient(90deg, rgba(58,0,205,1) 0%, rgba(158,74,226,1) 100%);
}

.circle {
    background: rgb(2,0,36);
    /*background: linear-gradient(70deg, blue, magenta);*/
    background: linear-gradient(90deg, rgba(58,0,205,1) 0%, rgba(158,74,226,1) 100%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

