html {
    font-size: 14px;
    /*overflow: hidden; */
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    height: 100vh;
    background: linear-gradient(90deg,#0d0d0d,#000000);
}
body, html {
    height: 100%;
}
.s-info-text {
    color: white;
}

.img-thumbnail {
    background: linear-gradient(90deg, rgba(58,0,205,1) 0%, rgba(158,74,226,1) 100%);
    border-color: black !important;
    width: 100%!important;
    height: 100%!important;
}
.toastify {
    backdrop-filter: blur(0.6rem) !important;
    background: rgba(255,255,255,0.05) !important;
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0,0,0,0.5)!important;
    color: white !important;
}
/*Dropzone js theme*/
.dropzone .dz-preview.dz-image-preview {
    background: black;
}
.dz-preview{
    background-color: black!important;
}
.dz-progress {
    background-color: rgba(255,255,255,0.5) !important;
}
.dz-remove{
    color: white!important;
}
/* select 2 dark theme*/
.select2-selection__placeholder {
    color: white !important;
}
.select2-selection__rendered {
    color: white !important;
    
}
.select2-selection {
    background-color: rgba(0,0,0,255.5) !important;
    color: white !important;
    border-width: 0px;
}
.select2-dropdown {
    background-color: rgba(0,0,0,0.5) !important;
    color: white !important;

}
.select2-results__option--highlighted {
    background-color: rgba(255,255,255,0.5) !important;
    color: white !important;
}
.select2-results__option--selected {
    background-color: rgba(255,255,255,0.5) !important;
}
.select2-search__field {
    background-color: rgba(0,0,0,0.5) !important;
    color: white !important;
}

::-webkit-scrollbar {
    width: 1vh;
    background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #663091;
    border-radius: 101px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8070d4;
}
.nav-link.active {
    color: white !important;
    text-shadow: 0px 0px 16px rgba(255,255,255,0.8);
    background-color: rgba(255,255,255,0.05) !important;
}
.nav-link{
    color: grey!important;
}

.pagination {
    float: right;
}
.dataTables_filter {
    float: right !important;
}
.paginate_button a {
    background-color: rgb(0,0,0,0.3);
    color: white;
    border-width: 0px;
}

.page-item.disabled .page-link {
    background-color: #020202 !important;
    color: rgba(158,74,226,1) !important;
}
.page-item.active .page-link {
    background-image: linear-gradient(90deg, rgba(58,0,205,1) 0%, rgba(158,74,226,1) 100%) !important;
}

.dataTables_filter input[type="search"]:focus {
    background-color: black;
    position: static;
}
.dataTables_length select:focus {
    background-color: black;
}
.dataTables_length select {
    background-color: black;
    color: white !important;
}

.dataTables_filter input {
    background-color: black;
    color: white !important;
}

.dataTables_filter label {
    color: white !important;
}

.dataTables_length label {
    color: white !important;
}

.dataTables_wrapper select {
    color: red;
}
.td {
    display: inline-flex !important;
    text-align: center;
}

.table td {
    text-align: center !important;

}

.table {
    justify-content: center !important;
}

th.dt-center, td.dt-center {
    text-align: center !important;
}

.p-column-header-content {
    display: inline-flex !important;
}

.card {
    backdrop-filter: blur(0.6rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0,0,0,0.5);
    background-color: rgba(255,255,255,0.05) !important;
}
.modal-content {
    backdrop-filter: blur(0.6rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0,0,0,0.6);
    background-color: rgba(255,255,255,0.05) !important;
}

.btn-primary {
    /*background: linear-gradient(90deg, rgba(205,0,8,1) 0%, rgba(226,142,74,1) 100%);*/
    background: linear-gradient(90deg, rgba(58,0,205,1) 0%, rgba(158,74,226,1) 100%);
    border-width: 0px;
}

.circle {
    background: rgb(2,0,36);
    /*background: linear-gradient(70deg, blue, magenta);*/
    background: linear-gradient(90deg, rgba(58,0,205,1) 0%, rgba(158,74,226,1) 100%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

