@page
@model Diploma.Pages.DashboardModel
@{
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="~/lib/chart.js/chart.umd.js"></script>
    <script src="~/lib/chart.js/chart.umd.min.js"></script>
    <a href="~/lib/chart.js/chart.umd.js.map"></a>

    <script src="~/js/chart.js"></script>

</head>
<body>
    <div class="container w-100 h-75">
        
        <div class="row" >
            <div class="col-sm">
                <div class="card">
                    <div style="width: 100%; height: 70%;">
                        @*<canvas id="pie-chart"> </canvas>*@
                        <div class="col">
                            <div class="nav flex-row nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="horizontal">
                                <button class="nav-link active" id="v-pills-min-tab" data-bs-toggle="pill" onclick="jQueryCreatePolarChart('week')" data-bs-target="" type="button" role="tab" aria-controls="v-pills-min" aria-selected="true">Неделя</button>
                                <button class="nav-link" id="v-pills-hour-tab" data-bs-toggle="pill" onclick="jQueryCreatePolarChart('month')" data-bs-target="" type="button" role="tab" aria-controls="v-pills-hour" aria-selected="false">Месяц</button>

                            </div>
                        </div>
                        <canvas id="polar-chart"> </canvas>
                        @* <canvas id="bar-chart" width="300" height="300"> </canvas>*@
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div style="width: 100%; height: 100%;">
                        <div class="col">
                            <div class="nav flex-row nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="horizontal">
                                <button class="nav-link active" id="v-pills-min-tab" data-bs-toggle="pill" onclick="jQueryCreatePolarChart('week')" data-bs-target="" type="button" role="tab" aria-controls="v-pills-min" aria-selected="true">Неделя</button>
                                <button class="nav-link" id="v-pills-hour-tab" data-bs-toggle="pill" onclick="jQueryCreatePolarChart('month')" data-bs-target="" type="button" role="tab" aria-controls="v-pills-hour" aria-selected="false">Месяц</button>

                            </div>
                        </div>
                        <canvas id="doughnut-chart"> </canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div style="width: 100%; height: 200px;">
                        <div class="col">
                            <div class="nav flex-row nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="horizontal">
                                <button class="nav-link active" id="v-pills-min-tab" data-bs-toggle="pill" onclick="jQueryCreatePolarChart('week')" data-bs-target="" type="button" role="tab" aria-controls="v-pills-min" aria-selected="true">Неделя</button>
                                <button class="nav-link" id="v-pills-hour-tab" data-bs-toggle="pill" onclick="jQueryCreatePolarChart('month')" data-bs-target="" type="button" role="tab" aria-controls="v-pills-hour" aria-selected="false">Месяц</button>

                            </div>
                        </div>
                        <canvas id="pie-chart"> </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="d-flex">
                        <div class="nav flex-row nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="horizontal">
                            <button class="nav-link active" id="v-pills-min-tab" data-bs-toggle="pill" data-bs-target="#v-pills-min" type="button" role="tab" aria-controls="v-pills-min" aria-selected="true">Минута</button>
                            <button class="nav-link" id="v-pills-hour-tab" data-bs-toggle="pill" data-bs-target="#v-pills-hour" type="button" role="tab" aria-controls="v-pills-hour" aria-selected="false">Час</button>
                            <button class="nav-link" id="v-pills-day-tab" data-bs-toggle="pill" data-bs-target="#v-pills-day" type="button" role="tab" aria-controls="v-pills-day" aria-selected="false">День</button>
                            <button class="nav-link" id="v-pills-month-tab" data-bs-toggle="pill" data-bs-target="#v-pills-month" type="button" role="tab" aria-controls="v-pills-month" aria-selected="false">Месяц</button>
                            <button class="nav-link" id="v-pills-year-tab" data-bs-toggle="pill" data-bs-target="#v-pills-year" type="button" role="tab" aria-controls="v-pills-year" aria-selected="false">Год</button>
                        </div>
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-min" role="tabpanel" aria-labelledby="v-pills-min-tab" tabindex="0">
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Дата</span>
                                            <input class="form-control" width="" asp-format="{0:yyyy-MM-dd HH:mm}" asp-for="LRDateTimeStart" id="LRDateTimeSecond" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-primary" onclick="jQueryCreateLineChart('minute', 'LRDateTimeSecond')">Обновить</button>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade " id="v-pills-hour" role="tabpanel" aria-labelledby="v-pills-hour-tab" tabindex="0">
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Дата</span>
                                            <input class="form-control" asp-format="{0:yyyy-MM-dd HH:mm}" asp-for="LRDateTimeStart" id="LRDateTimeHour" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-primary" onclick="jQueryCreateLineChart('hour', 'LRDateTimeHour')">Обновить</button>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="v-pills-day" role="tabpanel" aria-labelledby="v-pills-day-tab" tabindex="0">
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Дата</span>
                                            <input class="form-control" type="date" asp-for="LRDateTimeStart" id="LRDateTimeDay" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-primary" onclick="jQueryCreateLineChart('day', 'LRDateTimeDay')">Обновить</button>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="v-pills-month" role="tabpanel" aria-labelledby="v-pills-month-tab" tabindex="0">
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Дата</span>
                                            <input class="form-control" type="month" asp-for="LRDateTimeStart" id="LRDateTimeMonth" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-primary" onclick="jQueryCreateLineChart('month', 'LRDateTimeMonth')">Обновить</button>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="v-pills-year" role="tabpanel" aria-labelledby="v-pills-year-tab" tabindex="0">
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Дата</span>
                                            <input class="form-control" asp-format="{0:yyyy-MM-dd HH:mm}" asp-for="LRDateTimeStart" id="LRDateTimeMonth" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-primary" onclick="jQueryCreateLineChart('month', 'LRDateTimeMonth')">Обновить</button>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                    <div class="container-body-lchrt" style="width: 100%; height: 100%;">
                        <canvas id="line-chart"> </canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">col-sm-4</div>
        </div>
    </div>
    <div class="row">
        @*<div class="col">
        <canvas id="bar-chart" width="300" height="300"> </canvas>
        </div>*@
        @*<div class="col">
        <canvas id="radar-chart" width="350" height="350"> </canvas>
        </div>*@

        @*<div class="col">
        <canvas id="horiz-bar-chart" width="300" height="300"> </canvas>
        </div>*@
        <div class="col">
            
        </div>

        <div class="col">
            
        </div>
        <div class="col">
            
        </div>
    </div>
    <div class="row">
        <div class="col">
            
        </div>

    </div>


    <script type="text/javascript">
        var colors = @Html.Raw(Json.Serialize(Model.colors));
        var title = @Html.Raw(Json.Serialize(Model.title));
    </script>
    @*<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>*@

    <script>
        //$(document).ready(function () {
        //    jQueryCreatePolarChart('hour');
        //});
        //jQueryCreateLineChart();
        //createLineChart(@Json.Serialize(Model.ViolationCountByDate), @Json.Serialize(Model. ViolationCountByDate))

    </script>


</body>