@page
@model Diploma.Pages.LogsModel
@{
}

<div id="logList">

</div>

@section Scripts {
@*    <script src="~/js/site.js"></script>*@
    <script>
        $(document).ready(function () {
            $('#logList').load('?handler=LogListPartial');
        });

        
        //$.ajax({
        //    url: '/DownloadFile?filePath=' + encodeURIComponent(filePath),
        //    type: 'GET',
        //    success: function (data) {
        //        var blob = new Blob([data]);
        //        var url = URL.createObjectURL(blob);
        //        var link = document.createElement('a');
        //        link.href = url;
        //        link.download = 'myfile.txt';
        //        link.click();
        //    }
        //});
    </script>
    

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}