@page
@model Diploma.Pages.LogsModel
@{
}

<div id="logList">

</div>

@section Scripts {
@*    <script src="~/js/site.js"></script>*@
    <script>
        $(document).ready(function () {
            $('#logList').load('?handler=LogListPartial');
        });

    </script>
    

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}