@using Diploma.Models;

@*// Pages/Shared/_PersonModalPartial.cshtml*@
@model Person
<!-- Modal -->
<div class="modal fade" id="add-contact" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true" style="backdrop-filter: blur(0.6rem);  box-shadow: 1.3rem 1.3rem 1.3rem rgba(0,0,0,0.5); background-color: rgba(255,255,255,0.05) !important;">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-3 bg-black">
            <div class="modal-header">
                <h5 class="modal-title text-white" id="addContactLabel">Add contact</h5>
            </div>
            <div class="modal-body">
                <form asp-page-handler="PersonModalPartial">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <input asp-for="Id" class="form-control" type="hidden">
                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <label asp-for="FirstName" class="col-form-label text-white"></label>
                            <input asp-for="FirstName" class="form-control">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6">
                            <label asp-for="Email" class="col-form-label text-white"></label>
                            <input asp-for="Email" type="email" class="form-control"/>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <label asp-for="LastName" class="col-form-label text-white"></label>
                            <input asp-for="LastName" class="form-control">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label asp-for="Phone" class="col-form-label text-white"></label>
                                <input asp-for="Phone" type="number" class="form-control"/>
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <label asp-for="Patronymic" class="col-sm-2 col-form-label text-white"></label>
                            <input asp-for="Patronymic" type="text" class="form-control">
                            <span asp-validation-for="Patronymic" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6">
                            <label asp-for="Age" class="col-form-label text-white"></label>
                            <input asp-for="Age" type="number" class="form-control">
                            <span asp-validation-for="Patronymic" class="text-danger"></span>
                        </div>
                    </div>
                    <fieldset class="row mb-3">
                        <legend class="col-form-label col-sm-2 pt-0 text-white">Пол</legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input asp-for="Gender" class=" form-check-input" type="radio" id="gridRadios1" value="Male" checked>
                                <label class="form-check-label text-white" for="gridRadios1">
                                    Мужской
                                </label>
                            </div>
                            <div class="form-check">
                                <input asp-for="Gender" class="form-check-input" type="radio" id="gridRadios2" value="Female">
                                <label class="form-check-label text-white" for="gridRadios2">
                                    Женский
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" data-handler="PersonListPartial" data-listid="PersonListPartialView" data-save="modal">Сохранить</button>
            </div>
        </div>
    </div>
</div>